@font-face {
    font-family: poppinsblack;
    src: url(/fonts/Poppins-Black.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: poppinslight;
    src: url(/fonts/Poppins-Light.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: poppinsregular;
    src: url(/fonts/Poppins-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: poppinsbold;
    src: url(/fonts/Poppins-Bold.ttf);
    font-weight: normal;
    font-style: normal;
}